* {
  margin:0px;
  padding:0px;
  /*border:5px;*/
  font-family: "arial";
}

body {
  background-image: linear-gradient(to right, rgb(238, 230, 255),  
  rgb(218, 215, 250), rgb(255, 255, 255));
}

p {
  font-family: "courier new";
  margin: 5px 0px 0px 5px;
}

a {
  text-decoration: none;
  font-weight: lighter;
}

label {
  display: inline-block;
  width: 5em;
  }

#container {
  width: 780px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

#pokedex {
  width: 220px;
  height: 680px;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 12px;
  border-width: 40px 20px 40px 20px;
  border-style:solid;
  border-color: red;
  outline-style: outset;
  outline-color: rgb(64, 64, 64);
  outline-width: 5px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background-color: white;
}

#dexlights {
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
}

#red {
  margin: 11px 0px 0px 4px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(220, 0, 0);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-shadow: 1px -1px rgb(110, 0, 0);
}

#yellow {
  margin: 11px 0px 0px 26px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(255, 255, 04);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-shadow: 1px -1px rgb(126, 126, 0);
}

#green {
  margin: 11px 0px 0px 48px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(0, 204, 0);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-shadow: 1px -1px rgb(0, 102, 0);
}

#dexdetails {
  margin: 10px 0px 0px 8px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(220, 220, 220);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#dexextradetails {
  margin: 12px 0px 0px 10px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(0, 82, 204);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#dextinydeets {
  margin: 15px 0px 0px 13px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(26, 117, 255);
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

#dexcameraglare {
  margin: 15px 0px 0px 13px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

#dexside {
  margin: 360px 0px 0px 2px;
  display: inline-block;
  vertical-align: left;
  position: fixed;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid rgb(255, 255, 0);
  border-bottom: 20px solid transparent;
}

#dex_num{
  margin-right: 5px;
  position:absolute;top:0;right:0;
  font-weight: bold;
  font-family: "prestige";
}

h1 {
  font-weight: lighter;
  font-size: 28px;
  font-family: "century gothic";
  border-bottom: solid 1px;
  margin-right: 10px;
}

h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: lighter;
  font-family: "century gothic";
}

h3 {
  font-size: 22px;
  font-weight: lighter;
  font-family: "galdugi";
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 85px 10px 15px;
  padding: 0px 30px 0px 30px;
  font-family: "century gothic";
  font-weight: lighter;
  color: white;
  border-radius: 25px;
} 

.ability li {
  margin: 0px 70px 10px 5px;
  padding: 0px 0px 0px 5px;
  font-weight: lighter;
  background-color: rgb(112,146,190);
  border-radius: 5px;
  border: 1px solid rgb(0,162,232);
  color: white;
  font-size: 70%;
}

.stats {
  margin: 0px 50px 5px 0px;
  padding: 0px 0px 0px 5px;
  font-weight: lighter;
  background-color: rgb(112,146,190);
  border-radius: 5px;
  border: 1px solid rgb(0,162,232);
  color: white;
  font-size: 40%;
  overflow: hidden;
  white-space: nowrap;
}

.bug {
  border: 2px solid rgb(109,120,21);
  background-color: rgb(168,184,32);
}

.dark {
  border: 2px solid rgb(73,57,47);
  background-color: rgb(112,88,72);
}

.dragon {
  border: 2px solid rgb(73,36,161);
  background-color: rgb(112,56,248);
}

.electric {
  border: 2px solid rgb(161,135,31);
  background-color: rgb(248,208,48);
}

.fairy {
  border: 2px solid rgb(155,100,112);
  background-color: rgb(238,153,172);
}

.fighting {
  border: 2px solid rgb(214,120,115);
  background-color: rgb(192,48,40);
}

.fire {
  border: 2px solid rgb(156,83,31);
  background-color: rgb(240,128,48);
}

.flying {
  border: 2px solid rgb(220,192,248);
  background-color: rgb(168,144,240);
}

.ghost {
  border: 2px solid rgb(73,57,99);
  background-color: rgb(112,88,152);
}

.grass {
  border: 2px solid rgb(78,130,52);
  background-color: rgb(120,220,80);
}

.ground {
  border: 2px solid rgb(146,125,68);
  background-color: rgb(224,192,104);
}

.ice {
  border: 2px solid rgb(99,141,141);
  background-color: rgb(152,216,216);
}

.normal {
  border: 2px solid rgb(109,109,78);
  background-color: rgb(168,168,120);
}

.poison {
  border: 2px solid rgb(104,42,104);
  background-color: rgb(160,64,160);
}

.psychic {
  border: 2px solid rgb(161,57,64);
  background-color: rgb(248,88,136);
}

.rock {
  border: 2px solid rgb(120,104,36);
  background-color: rgb(184,160,56);
}

.steel {
  border: 2px solid rgb(120,120,135);
  background-color: rgb(184,184,208);
}

.water {
  border: 2px solid rgb(68,94,156);
  background-color: rgb(104,144,240);
}