* {
  margin:0px;
  padding:0px;
  font-family: "arial";
}

p {
  font-family: "courier new";
}

#container {
  width: 800px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

#pokedex {
  width: 180px;
  height: 400px;
  padding-left: 10px;
  border-width: 20px 20px 40px 20px;
  border-style:solid;
  border-color: red;
  display: inline-block;
  vertical-align: top;
  position: fixed;
}

h1 {
  font-weight: lighter;
  font-size: 28px;
  font-family: "century gothic";
}

h3 {
  font-size: 22px;
  font-weight: lighter;
  font-family: "galdugi";
}

ul {

}

li {
  margin: 10px 0px 10px 25px;
  font-family: "arial";

}

p {
  margin: 5px 0px 0px 5px;
}
